@layer components {

    .control{

    }

    .control__label{
        display: inline-block;
        margin-bottom: 4px;
    }

    .control--select,
    .control--text{
        height: var(--control-height);
        padding: var(--control-padding-y) var(--control-padding-x);
        display: block;
        width: 100%;
        border: 1px solid;
        border-color: black;
        border-radius: var(--border-rad-md);
        font-family: var(--font-primary);
        font-size: 16px;
        line-height: 1.4;
        font-weight: var(--fw-normal);
        color: black;
        background-color: white;
        box-shadow: none;
        outline: none;
        appearance: none;
        transition: border-color .15s ease-in-out,
                    box-shadow .15s ease-in-out;
        &::placeholder {
            color: var(--abbey);
            opacity: 1;
        }
        &:focus{
            box-shadow: none;
        }
        &:disabled{
            opacity: 0.8;
        }
        &:not(:disabled){
            &:hover{
                box-shadow: none;
                border-color: var(--brand-red);
            }
            &:focus{
                border-color: var(--brand-red);
                box-shadow: none;
            }
        }

        & textarea{
            min-height: calc( 2*var(--control-height) );
        }
    }

    .control--select{
        margin: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 9.17a1 1 0 0 0-1.41 0L12 12.71 8.46 9.17a1 1 0 1 0-1.41 1.42l4.24 4.24a1.001 1.001 0 0 0 1.42 0L17 10.59a.999.999 0 0 0 0-1.42Z' fill='%23737373'/%3E%3C/svg%3E");
        background-position: calc(100% - 2px ) center;
        background-repeat: no-repeat;
        background-size: 24px;
        padding-right: calc( 24px + 2px + var(--control-padding-x) );
        text-overflow: ellipsis;
        line-height: 1;
        &[multiple]{
            background-image: none;
            height: auto;
        }
        & option {
            font-weight: var(--fw-normal);
        }
        &:not(:disabled){
            &:focus{
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m17 13.41-4.29-4.24a.999.999 0 0 0-1.42 0l-4.24 4.24a1 1 0 1 0 1.41 1.42L12 11.29l3.54 3.54a1 1 0 0 0 1.41 0 .999.999 0 0 0 .05-1.42Z' fill='%23737373'/%3E%3C/svg%3E");

            }
        }
    }


}