@layer components {

    .figure{

    }

    .figure--window{
        --side-max: 400px;
        width: auto;
        height: auto;
        max-width: var(--side-max);
        max-height: var(--side-max);
        & .text{
            font-family: var(--font-primary);
            color: black;
            font-weight: var(--fw-normal);
            font-size: 14px;
        }
    }

}