@layer components {

    .form{

    }

    .form--impost{
        & .fieldset{
            border-left: 1px solid;
            border-color: var(--silver);
        }
        & .fieldset--last{
            border-bottom: 1px solid;
            border-color: var(--silver);
        }
        & .fieldset__title{
            color: var(--brand-red);
            text-transform: uppercase;
            padding: 24px 12px;
            display: block;
            border-bottom: 1px solid;
            border-color: var(--abbey);
            position: relative;
            &::after{
                content: '';
                display: block;
                position: absolute;
                z-index: 1;
                left: -6px;
                bottom: -6px;
                width: 12px;
                height: 12px;
                background-color: var(--brand-red);
                transform: rotate(45deg);
            }
            & strong{
                font-size: 28px;
                display: block;
                color: black;
                font-weight: var(--fw-normal);
                margin-bottom: 4px;
            }
        }
        & .fieldset__content{
            padding: 20px 15px;
        }
        & .control__label{
            line-height: 1;
        }
        & .wrapper--controls{

        }
        @media (min-width: theme(--breakpoint-lg) ) {

        }
        @media (min-width: theme(--breakpoint-2xl) ) {
            & .fieldset__title{
                white-space: nowrap;
                padding: 24px 12px 34px;
            }
            & .fieldset--even{
                border-left: none;
                & .fieldset__title{
                    &::after{
                        display: none;
                    }
                }
            }
        }
    }
}