@layer components {

    .form{

    }

    .form__table{
        width: 100%;
        & th,
        & td{
            text-align: left;
            vertical-align: baseline;
        }
        & th:last-of-type,
        & td:last-of-type{
            text-align: right;
        }
    }

    .form--impost{

    }
}