@layer components {

    .header{
        border-bottom: 1px solid;
        border-color: var(--silver);
        & > .page__wrapper{
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }

    .header__logo{
        display: flex;
        align-items: center;
        &::after{
            content: '';
            display: block;
            width: 1px;
            height: 28px;
            background-color: var(--brand-red);
            margin-left: 8px;
            margin-right: 8px;
        }
    }

    .header__title{
        text-transform: uppercase;
    }

    .header__actions{
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

}