@layer components {

    .tippy{
        display: inline-block;
        cursor: pointer;
        & .icon__vue{
            width: 18px;
            height: auto;
            color: var(--abbey);
        }
    }

}