@layer base {

    html,
    body{
        width: 100%;
        min-height: 100%;
        margin:  0;
        padding: 0;
        font-family: var(--font-primary);
        color: black;
        font-weight: var(--fw-normal);
        scroll-snap-type: y proximity;
        scroll-behavior: smooth;
        font-size: 16px;
        line-height: 1.4;
    }

    *{
        max-width: 100%;
        &:focus-visible{
            outline: none;
            box-shadow: 0px 0px 0px 2px color-mix(in srgb, var(--brand-red) 20%, transparent);
            border-radius: var(--border-rad-sm);
        }
    }

    a{
        color: currentcolor;
        transition: color calc(var(--anim-dur)/2);
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-skip-ink: none;
        text-underline-offset: 0.1em;
        text-decoration-thickness: 0.05em;
        color: black;
        &:hover,
        &:active{
            color: black;
            text-decoration-color: black;
        }
    }

    a[href^='tel:']{

    }

    a[href^='mailto:']{

    }

	p{
		margin-bottom: 16px;
	}

    @supports(object-fit: contain){
        img{
            object-fit: contain;
        }
    }

    .scroll__measure{
        width: 100px;
        height: 100px;
        overflow: scroll;
        position: absolute;
        top: -9999px;
    }

}